server:
  port: 9090
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://coon.ccdt7ih2qkyl.ap-northeast-2.rds.amazonaws.com/myblog?serverTimezone=Asia/Seoul
    username: admin
    password: 0m0m0m0m
  devtools:
    remote:
      restart:
        enabled: true
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
      naming:
        # Entity? ???? ??? ??? ??
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      use-new-id-generator-mappings: false # jpa? ???? numbering ?? on/off
    show-sql: false # ??? ?? ??
    properties:
      hibernate.format_sql: true
  jackson:
    serialization:
      fail-on-empty-beans: false
cos:
  key: cos1234