.list_content {
    padding: 24px 0 26px;
    border-bottom: 1px solid #efefef;
}

div {
    display: block;
}

body{
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Spoqa Han Sans', sans-serif;
    color: #666;
}

.list_content::after {
    content: '';
    clear: both;
    display: block;
}

.list_content .link_post:hover .tit_post {
    color: #6bacce;
}

.list_content .txt_post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    overflow: hidden;
    margin-top: 4px;
    font-size: 13px;
    line-height: 23px;
    color: #5c5c5c;
    vertical-align: top;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.list_content .detail_info .link_cate {
    font-size: 13px;
    text-decoration: none;
    color: #6bacce;
}

.article_skin {
    width: 1000px;
    min-height: 858px;
    margin: 0 auto;
    padding: 96px 0px 100px;
    display: block;
}

.bd-navbar {
    position: sticky;
    top: 0;
    z-index: 1071;
    min-height: 4rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  }
.bd-sidebar {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
    background: #eee;
    border-right: 1px solid rgba(0,0,0,.1);
    overflow-y: auto;
    min-width: 160px;
    max-width: 220px;
  }
.bd-sidebar .nav {
    display: block;
  }
.bd-sidebar .nav>li>a {
    display: block;
    padding: .25rem 1.5rem;
    font-size: 90%;
  }
.navbar-brand{
    padding-left: 15px;
    }

#navbar{
    font-size: 20px;
  }

.form-save{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}
.form-group{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.detail_info{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
}

div.b-title{
    display: flex;
}

a{
    color: #6bacce;
    text-decoration: none;
}
p {
    color: black !important;
    text-overflow: ellipsis;
    opacity: 0.7;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 10px;
}

.txt_date{
    font-size: 10px !important;
}

div.card{
    margin: 8px;
}


